@import "./_variables.scss";
@import "./global";

.bootle {
  margin: 15.5vw 0;

  padding: 3.5vh 4.5vw;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 200px;
  @include mobile4 {
    margin-top: 400px;
  }
  @include mobile6 {
    visibility: hidden;
    margin: 5vw 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
